[Unit]
Description=Collect Varnish Logs
After=network-online.target

[Service]
ExecStart=/usr/bin/sh --dir--/start.sh

[Install]
WantedBy=multi-user.target